@import url(https://fonts.googleapis.com/css?family=Lobster);

.header-container {
	position: sticky;
	z-index: 1000;
	left: 0;
	top: 0;

	.header {
		padding: 1rem 2.75rem;
		background: #000000;
		display: flex;
		box-sizing: border-box;

		.title {
			font-size: 2rem;
			font-family: Lobster;
			flex: 1;
		}

		.selects {
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}
	}

	.sub-header {
		padding: 0.5rem 2.75rem;
		display: flex;
		box-sizing: border-box;
		background: #666666;
		align-items: center;
	}
}
